<html>
  <body>
    <div class="jumbotron">
      <h1 class="display-4">Bem-vindo</h1>
      <p class="lead">Medcom é um softawre de gerenciamento de clínicas e hospitais</p>
      <hr class="my-4">
      <p>v0.0.2</p>
      <p class="lead">
      </p>
    </div>
  </body>
</html>