 /*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require_jquery-ui.min.css
 *= require_jquery-ui-structure.min.css
 *= require_jquery-ui.theme.min.css
 *= require jquery-ui/datepicker
 *= require_tree .
 */

#footer {
   position:fixed;
   left: 0px;
   bottom: 0px;
   height: 55px;
   width: 100%;
   background:#22A7F0;

}

 #footer p {
  margin: 20px 140px 10px;
  color: white;
}